<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Admin page</title>
<link rel="stylesheet" th:href="@{/css/adminHome.css}">
</head>
<body>
<form>
<div>
<h1>Admin Home Page</h1>
</div>

<div class="newsong">
<a href="newSong">Add a new Song</a>

<br/>
</div>

<div class="viewsong">
<a href="viewSongs">View All Songs</a>

<br/>
</div>

<div class="createplaylist">
<a href="createPlaylist">Create Playlist</a>

<br/>
</div>

<div class="viewplaylist">
<a href="viewPlaylists">View All viewPlaylists</a>
</div>

</form>
</body>
</html>