<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Login page</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
</head>
<body>
<div class="header">
<h1>Login Page</h1>
</div>

<form action="validate" method="post">

<div class="email">
<label>Email:</label>
<input type="text" name="email"/>

<br/>
</div>

<div class="password">
<label>Password:</label>
<input type="password" name="password"/>

<br/>
</div>

<div class="submit">
<input type="submit" value="LOGIN"/>

</div>
</form>
</body>
</html>